@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.main-container {
  @apply max-w-[1200px] mx-auto px-5;
}
.header-btn {
  background-image: linear-gradient(to right, #70b8ff, #5f7ffd);
}
.inner-container {
  @apply max-w-[800px] mx-auto px-5;
}
.Communities {
  background: linear-gradient(to right, #ffb870, #fd745f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 923px) {
  .hide-923 {
    display: none;
  }
}
